@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

}

body {
  background-image: url(../img/background.png);
}

/*barra de navegação*/
.navbar1 {
  display: flex;

}

nav {
  display: flex;
  width: 100%;
  background-color: #0e8d88;
  position: fixed;
  align-items: center;
  padding: 0px 30px;
  z-index: 999; 
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
  justify-content: space-between;
}


nav img {
  display: flex;
  width: 100px;
  height: 60px;
  margin-left: 20px;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: #EEEEEE;
}

nav ul li:hover a {
  border: 1px solid rgba(255, 255, 255, 0.733);
  border-radius: 2px;
  padding: 8px;
  background-color: #ffffff3b;
}


/*Final da barra de navegação*/

/* Menu hamburguer

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 30px;
  right: 50px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1000;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fa8072;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 30%;
  margin: 0 470px;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(172, 97, 97, 0.4);
  transition-duration: .25s;
  z-index: 999;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #0e8d88;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}


.material-symbols-outlined {
  color: #fa8072;
}



.menu__item:hover {
  background-color: #CFD8DC;
}*/

/*carrosel*/

#slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

#slides {
  width: 400%;
  height: 500px;
  display: flex;
  margin-top: 60px
}

#slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

/*#manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: - 40px;
  display: flex;
  justify-content: center;
}*/

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: black;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#navigation-auto div {
  border: 1px solid black;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}

#navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 450px;
  display: flex;
  justify-content: center;
}

#navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~#navigation-auto .auto-btn1 {
  background-color: black;
}

#radio2:checked~#navigation-auto .auto-btn2 {
  background-color: black;
}

#radio3:checked~#navigation-auto .auto-btn3 {
  background-color: black;
}

/*Fim do carrosel*/

/*aplicativos*/

.container {
  background-color: #EEEEEE;
  margin-top: 50px;
  display: flex;
  padding-top: 5px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#aplicativos img {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center;

}

.container p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  margin-right: 30px;
}

/*Final aplicativos*/

/*inicio como funciona*/

.numero-circulo {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  margin-top: 50px;
  margin-left: 20px;
  font-weight: bold;
  background-color: #EEEEEE;
  color: black;
}

.indicacao {
  margin-left: 30px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.pontos {
  padding: 5px;
  border-radius: 7px;
  border: solid 1px black;
  margin-left: 30px;
  margin-top: 40px;
  bottom: 0px;
  cursor: pointer;
}

h1 {
  margin-left: 20px;
  margin-top: 20px;
}

.caixa {
  display: block;
  margin-top: 30px;
}

.caixa-circulo {
  display: flex;
  width: 350px;
  cursor: pointer;
}

.caixa-circulo:active {
   transform: translateY(4px);
}

.texto {
  margin-top: 55px;
  margin-left: 10px;
  font-weight: bold;

}

.linha {
  width: 1px;
  height: 35px;
  background-color: gray;
  position: absolute;
  margin-left: 35px;
  border-radius: 2px;
  margin-top: 8px;
}

.celular img {
  height: 500px;
  margin-top: 70px;
}

.mensagem {
  margin-left: 20px;
  text-align: center;
  width: 150px;
  margin-top: 300px;
  font-weight: bold;
}

.menucelular{
  display: flex;
}

@media only screen and (max-width:850px) {
  .mensagem p {
    display: none;

  }

  .linha {
    display: none;
  }
}

/*final de como funciona*/

/*sepração de página*/
#separacao {
  position: absolute;
  display: flex;
  width: 100%;
}

#divisao {
  width: 100%;
  height: 3px;
  background-color: #EEEEEE;
  margin-top: 20px;
  padding: 2px;
  border-radius: 20px;
  position: relative;
  margin-right: 10px;
}

.divisao-continua {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #EEEEEE;
  margin-right: 10px;
  position: relative;
  margin-top: 18px;
}

#agende {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 7px;
  border: solid 1px black;
  cursor: pointer;
}

#btn-agendamento {
  margin-top: 70px;
  text-align: center;

}

/*final de separa de página*/

/*nossos parceiros*/

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 10%;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: solid 2px #0e8d88;
  padding: 5px;
}

.slide-container {
  max-width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;

}

#card {
  border-radius: 5%;
  background-color: #0e8d88;

  text-align: center;
  margin-top: 50px;
  margin-right: 30px;

}

.image-content,
.card-content {
  display: flex;
  padding: 10px 14px;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.image-content {
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 10px 10px 0 25px;
}

.overlay::before,
.overlay::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #EEEEEE
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #0e8d88;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.descricao {
  font-size: 14px;
  color: black;
  text-align: center;
}

#titulos {
  margin-top: 40px;
  margin-left: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #EEEEEE;
  margin-top: 60px;
}


/*final nossos parceiros*/

/*inicio footer*/

footer {
  position: relative;
  background: #0e8d88;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top-left-radius: 125px;
}

footer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #EEEEEE;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;

}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo-details {
  color: #EEEEEE;
  font-size: 30px;
}

.logo-name img {
  width: 70px;
  height: 50px;
}

.link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.link_name {
  color: #EEEEEE;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link_name:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 35px;
  background: #EEEEEE;
  height: 2px;
}

.box li {
  margin: 6px 0;
  list-style: none;
}

.box li a {
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
  position: relative;
}

.box li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #EEEEEE;
  transition: all .3s ease-in-out;

}

.box li a:hover:before {
  width: 100%;
}

.input-box {
  margin-right: 55px;
}

.input-box input {
  height: 40px;
  width: 100%;
  outline: none;
  border: 2px solid #EEEEEE;
  background: #0e8d88;
  font-size: 15px;
  color: #EEEEEE;
  margin-top: 5px;
  text-align: center;
}

.input-box input::placeholder {
  color: #EEEEEE;
  font-size: 16px
}

.input-box input[type="button"] {
  background: #EEEEEE;
  color: #0e8d88;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

.bottom-details {
  width: 100%;
  background: #EEEEEE;

}

.bottom-text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-text span .bottom-text a {
  font-size: 14px;
  font-weight: 300;
  color: #EEEEEE;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-text a {
  margin-right: 10px;

}

@media (max-width: 900px) {
  .link-boxes {
    flex-wrap: wrap;
  }

  .input-box {
    width: 40%;
    margin-top: 10px;
  }
}


@media (max-width: 700px) {
  .footer {
    position: relative;
  }

  .logo-details {
    font-size: 26px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-text span .bottom-text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .footer:before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

/*final rodapé*/

/*inicio opinião clientes*/
header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}


.wrapper .caixa {
  position: relative;
  width: 290px;
  color: #EEEEEE;
  background: #222;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.wrapper .caixa .profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  width: 100%;
  display: block;
}

.wrapper .caixa .profile .imgBox {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 2px solid #EEEEEE;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .caixa .profile .imgBox img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}

.wrapper .caixa .profile .imgBox:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}

.wrapper .caixa .profile h2 {
  padding: 5px 0;
  text-transform: capitalize;
  color: #EEEEEE;
  letter-spacing: 1px;
  text-align: center;
}

.wrapper .caixa p {
  margin-top: 80px;
  color: #EEEEEE;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
}

.wrapper .caixa .left {
  font-size: 30px;
  display: block;
  text-align: left;
  color: #0e8d88;
}

.wrapper .caixa .right {
  font-size: 30px;
  display: block;
  text-align: right;
  color: #0e8d88
}

/*final opinião clientes*/

/*inicio faq*/

.perguntas {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin-top: 7rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fa8072;
  cursor: pointer;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions h3 {
  font-size: 1.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.3rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* inicio menu hamburguer*/
#menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  right: 40px;
  top: 20px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #fa8072;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  z-index: 1000;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.menunav li a {
  color: #EEEEEE;
  text-decoration: none;
}


.menunav li {
  list-style: none;
  padding: 16px 0;
}

.menunav {
  padding: 0;
  margin: 0 30px;
  display: none;
}

.icon .bar {
  background-color: #fa8072;
}

.icon #bar1 {
  transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
  opacity: 0;
}

.change {
  background-color: #0e8d89;
  height: 100vh;
  margin: 0;
  position: fixed;
  font-size: 25px;
  top: 0;
  z-index: 999;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
}

@media only screen and (max-width:1000px) {
  .change {
    width: 40%;

  }

}

@media only screen and (max-width:700px) {
  .change {
    width: 100%;

  }

}

/*final menu hamburguer*/

/*inicio quem somos*/

.quemsomos {
  margin-top: 62px;
  max-width: 50%;
  text-align: justify;
  position: relative;
  
}

.logo {
  max-width: 50%;
  max-height: 50%;
  right: 0;
  top: 100px;
  position: absolute;
  border-radius: 999px;
  
}

.logo img {
  width: 100%;
  height: 100%;
  align-items: center;

}

.institucional {
  margin-top: 20px;
  margin-left: 20px;
}

/*css miolo cadastroteste*/

.forms {
  margin-left: auto;
  margin-right: auto;
  width: 76%;

}

main h2 {
  color: rgba(250, 128, 114, 1);
  margin-top: 63px;
  text-decoration: none;
  font-weight: bold;
  margin-inline: 12%;
}



main h3 {
  color: rgba(250, 128, 114, 1);
  margin: 3px;
  text-decoration: none;
  font-weight: bold;
  margin-inline: 12%;

}

#text {
  color: #fa8072;
  margin-inline: 12%;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.cadastro {
  padding: 6px;
  border-radius: 5px;
  background-color: #f7f8f8a0;
}

input {
outline: none;
width: 90%;
border: none;
}

.validarcadastro {
  display: block;
  color: white;
  background-color: rgba(250, 128, 114, 1);
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  
}

.validarcadastro:active {
  transform: translateY(4px);
}


.CampoNome {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

 .nome {
  width: 800px;
 }
  .CampoEndereco {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .rua {
    width: 800px;
  }
  
  .CampoCidade {
    width:100%;
    display: flex;
  
  }
  
  .cidade {
    width: 420px;
  }
  .CampoUF {
    display: flex;
    margin-left: 10px;
  }
  
  
  .campoTelefone {
    display: flex;
    margin-left: 10px;
  }
  
  /*@media only screen and (max-width:682px) {
    .forms .campoTelefone input{

    
      }
    }*/
  .Senha {
    width: 100%;
    display: flex;

  }
  
  .senha1{
width: 390px;
  }
  .ConfirmeSenha {
  width: 389px;
  margin-left: 10px;
 
  }

  fieldset {
    padding: 4px;
    height: 30%;
    border-radius: 8px;
  }

  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<css miolo cadastro2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<css miolo cadastro2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<css miolo cadastro2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

  .documentos {
    width: 100%;
    display: flex;
  }
  
  .campoCpf {
    width: 390px;
  }
  
  .campoRg {
    width: 389px;
    margin-left: 10px;
  }

  .campoNomeMae {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .mae {
    width: 800px;
  }
  
  .campoNomePai {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .pai {
    width: 800px;
  }

  .campoNascSexo {
    width: 100%;
    display: flex;
  }

  .nascimento{
    width: 390px;
  }
  
  .cadastro2 {
    padding: 6px;
    border: none;
    width: 98%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    background-color: #f7f8f8a0;
  }
  
  .sexo {
    padding: 4px;
    width: 389px;
    height: 30%;
    border-radius: 8px;
    margin-left: 10px;
  }
 
  
  .campoTipo_e_fator {
    width: 100%;
    display: flex;
  }

  .tipo {
    width: 389px;

  }
  
  .campoFator {
    padding: 4px;
    width: 389px;
    height: 30%;
    border-radius: 8px;
    margin-left: 10px;
  }

  legend,
option {
  font-family: 'Open Sans', sans-serif;
  color: rgb(12, 11, 11);
  font-weight: lighter;
}



