@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 100%;
    background-color: #0e8d88;
    position: fixed;
    align-items: center;
    padding: 0px 30px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 350px;
}


nav img {
    display:flex;
    width: 100px;
    height: 60px;
    margin-left: 100px;      
}

nav ul li {
    margin: 30px;   
}

nav ul li a {
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    color: #EEEEEE;
}

nav ul li:hover a {
    border: 1px solid rgba(255, 255, 255, 0.733);
    border-radius: 2px;
    padding: 8px;
    background-color: #ffffff3b;
}

