@charset "UTF-8";
/*Padrão de caracteres especiais*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*Criando regras usando o fluxo de trabalho de Mobile First*/

body {
  background-image: url(../img/background1.png);
  background-size: cover;

}

/*barra de navegação*/
.navbar1 {
  display: flex;
  justify-content: space-between;
  top: 0;
}

nav {
  display: flex;
  width: 100%;
  background-color: #0e8d88;
  position: fixed;
  align-items: center;
  padding: 0px 30px;
  z-index: 999;
  
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
  justify-content: space-between;
}


nav img {
  display: flex;
  width: 100px;
  height: 60px;
  margin-left: 20px;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: #EEEEEE;
}

nav ul li:hover a {
  border: 1px solid rgba(255, 255, 255, 0.733);
  border-radius: 2px;
  padding: 8px;
  background-color: #ffffff3b;
}


h1,
h3,
p {
  color: rgba(250, 128, 114, 1);
  margin: 3px;
  text-decoration: none;
  font-weight: bold;
  margin-inline: 12%;

}

#text {
  color: rgba(250, 128, 114, 1);
  margin-inline: 12%;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center
}

.cadastro {
  padding: 6px;
  border: none;
  width: 90%;
  height: 100%;
  border-radius: 5px;
  outline: none;

}

.validarcadastro {
  display: block;
  position: relative;
  color: white;
  background-color: rgba(250, 128, 114, 1);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  padding: 4px;
  width: 62%;
  height: 5%;
  margin-inline: 12%;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}

.Linhadois {
  display: flex;
}

fieldset {
  padding: 4px;
  width: 60%;
  height: 30%;
  border-radius: 8px;
  /*margin-left: 160px;*/
}

.CampoNome {
  width: 102%;
  display: flex;
  margin-left: 160px;  
}


.CampoEndereco {
  width: 85%;
  display: flex;
}

.CampoRua {
  width: 85%;
  display: flex;
}

.CampoNum {
  width: 9.5%;
  height: 5%;
  margin-right: 100px;
  margin-left: 10px;
}

.CampoCidade {
  width: 62.5%;
  display: flex;
  margin-left: 160px;
}

.CampoUF {
  width: 12%;
  display: flex;
  margin-left: 10px;
}


.campoTelefone {
  width: 27%;
  display: flex;
  margin-left: 10px;
}

.Senha {
  width: 75%;
  display: flex;
  margin-left: 160px;
}

.ConfirmeSenha {
  width: 75%;
  /*display: flex;*/
  margin-left: 10px;
  margin-right: 150px;
}

/* inicio menu hamburguer*/
#menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  right: 40px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #fa8072;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  z-index: 1000;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.menunav li a {
  color: #0e8d88;
  text-decoration: none;
}

.menunav li a:hover {
  border-bottom: 3px solid #0e8d88;
  border-radius: 3px;

}

.menunav li {
  list-style: none;
  padding: 16px 0;
}

.menunav {
  padding: 0;
  margin: 0 30px;
  display: none;
}

.icon .bar {
  background-color: #fa8072;
}

.icon #bar1 {
  transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
  opacity: 0;
}

.change {
  background-color: #EEEEEE;
  height: 60vh;
  margin: 0;
  position: fixed;
  font-size: 25px;
  top: 0;
  z-index: 999;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
}

@media only screen and (max-width:1000px) {
  .change {
    width: 40%;

  }

}

@media only screen and (max-width:700px) {
  .change {
    width: 100%;

  }

}

/*final menu hamburguer*/


