@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
/*barra de navegação*/
nav {
  display: flex;
  width: 100%;
  background-color: #0e8d88;
  position: fixed;
  align-items: center;
  padding: 0px 30px;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 10px;
}


nav img {
  display: flex;
  width: 100px;
  height: 60px;
  margin-left: 20px;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: #EEEEEE;
}

nav ul li:hover a {
  border: 1px solid rgba(255, 255, 255, 0.733);
  border-radius: 2px;
  padding: 8px;
  background-color: #ffffff3b;
}

/*Final da barra de navegação*/

/* Menu hamburguer*/

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 30px;
  right: 50px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1000;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fa8072;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 30%;
  margin: 0 470px;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(172, 97, 97, 0.4);
  transition-duration: .25s;
  z-index: 999;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #0e8d88;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}


.material-symbols-outlined {
  color: #fa8072;
}



.menu__item:hover {
  background-color: #CFD8DC;
}

/*carrosel*/

#slider {
  margin: 0 auto;
  width: 720px;
  height: 400px;
  overflow: hidden;
}

#slides {
  width: 400%;
  height: 300px;
  display: flex;
  margin-top: 40px
}

#slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 720px;
  height: 400px;
}

#manual-navigation {
  position: absolute;
  width: 720px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: black;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#navigation-auto div {
border: 2px solid #fa8072;
padding: 5px;
border-radius: 100%;
cursor: pointer;
transition: 1s;
}

#navigation-auto {
  position: absolute;
  width: 720px;
  margin-top: 330px;
  display: flex;
  justify-content: center ;
}

#navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~#navigation-auto .auto-btn1 {
  background-color: black;
}

#radio2:checked~#navigation-auto .auto-btn2 {
  background-color: black;
}

#radio3:checked~#navigation-auto .auto-btn3 {
  background-color: black;
}
/*Fim do carrosel*/

/*aplicativos*/

.container {
  background-color: #EEEEEE;
  margin-top: 10px;
  display: flex;
  padding-top: 5px;
}

#aplicativos img {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center; 
}

.container p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 130px;
}

/*Final aplicativos*/

/*inicio como funciona*/

.numero-circulo {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  margin-top: 50px;
  margin-left: 20px;
  font-weight: bold;
  background-color: #EEEEEE;
  color: black;
}

.indicacao {
  margin-left: 30px;
  margin-top: 30px;
}

.indicacao button {
  padding: 5px;
  border-radius: 7px;
  border: solid 1px black;
  margin-left: 30px;
  margin-top: 20px;
}

h1 {
  margin-left: 20px;
  margin-top: 20px;
}

.caixa {
  display: block;
  
  width: 50%;
  margin-top: 30px;
}

.caixa-circulo{
  display: flex;
}

.texto {
  margin-top: 55px;
  margin-left: 10px;
  font-weight: bold;

}

.linha {
  width: 1px;
  height: 35px;
  background-color: gray;
  position: absolute;
  margin-left: 35px;
  border-radius: 2px;
  margin-top: 8px;
}

/*final de como funciona*/

/*sepração de página*/
#separacao{
  position: absolute;
  display: flex ;
width: 100%;
}

#divisao{
  width: 100%;
  height: 3px;
  background-color: #EEEEEE;
  margin-top: 20px;
  padding: 2px;
  border-radius: 20px;
  position: relative;
  margin-right: 10px;
}

.divisao-continua{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #EEEEEE;
  margin-right: 10px;
  position: relative;
  margin-top: 18px;
}

#agende{
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: solid 1px black;
}

#btn-agendamento {
  margin-top: 70px;
  text-align: center;
  
}
/*final de separa de página*/

/*nossos parceiros*/

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 10%;
}

.card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: solid 2px #EEEEEE;
  padding: 5px;
}

.slide-content{
  margin: 0 40px;

}
.card{
  border-radius: 5%;
  background-color:#0e8d88;
  width: 300px;
  text-align: center;
  margin-top: 50px;
  
}

.image-content,
.card-content{
  display: flex;
  padding: 10px 14px;
  flex-direction: column;
  align-items: center;
}

.image-content{
  row-gap: 5px;
  position: relative;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fa8072;
  border-radius: 10px 10px 0 25px;
}

.overlay::before,
.overlay::after{
  position: absolute;
  content: '';
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #fa8072

}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #0e8d88;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.descricao{
  font-size: 14px;
  color: black;
  text-align: center;
}

#parceiros{
  margin-top: 40px;
  margin-left: 20px;
}